.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.title {
  margin: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.large {
  font-size: 3.15rem;
}

.medium {
  font-size: 1.58rem;
}