.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
  opacity: 0.6
}

.modalBody {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.75em 1em 1.5em 1em;
  border-radius: .75em;
  background-color: #fff;
}

.modalTitle {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: .75em;
}

.modalCloseBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: .5em;
  right: .5em;
  padding: .5em;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
}

.modalCloseBtn:hover {
  background-color: lightgray;
}